@use "breakpoints";

.about {
  display: inline-block;
  position: absolute;
  right: 20px;
  top: 120px;
  text-decoration: none;
  color: white;
  background-color: rgba(59,149,109);;
  padding: 10px;
  border-radius: 20px;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

}

.guide {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;

  &__item {
    position: relative;
    width: 100%;
    overflow: hidden;
    text-decoration: none;
    color: white;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
    
    &:hover .overlay {
      background-color: rgba(0, 0, 0, 0.6);
      transform: translateY(-5px); /* 5px上に移動 */
    }


  }

  &__img {
    width: 100%;
    height: auto;
    display: block;
  }

  &__overlay {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    background-color: rgba(200, 200, 200, 0.6);
    padding: 1em;
    border-radius: 8px;
    text-align: center;
    display: block;


  }

  &__text {
    font-size: clam(1rem, 2vw, 1.5rem);
    font-weight: bold;
    color: #000;
  }
}

@include breakpoints.mq(pc) {
  .about {
  top: 20px;
  }
}